.App {
  text-align: center;
  /* height: 100%; */
}

html {
  height: 100%;
}

#root {
  height: 100%;
}

.btn-container {
  float: right;
}

@media (max-width: 767px) {
  .btn-container {
    margin-bottom: 15px;
  }
}

.center {
  /* flex-grow: 3;  */
  width: 70%;
  border: 1px solid black;
  height: 100%;
  background-color: indianred;
}

.centerBody {
  /* flex-grow: 3;  */
  border: 1px solid black;
  height: auto;
  align-items: stretch;
}

.centerLinks {
  /* flex-grow: 3;  */
  border: 1px solid black;
  height: 20%;
  align-items: stretch;
  background-color: aquamarine;
}

.container {
width: 100px;
height: 30%;
margin-left: 22px;
padding-left: 15px;
}

.districts {
  width: 200px; 
  flex-grow: 1; 
  border: 1px solid black;
  height: 30%;
  align-items: stretch;
  padding: 0px;
  margin: 0px;
}

.leftSideBar {
  /* flex-grow: 3;  */
  width: 20%;
  border: 1px solid black;
  height: 100%;
  align-items: stretch;
  margin: 0px;
  padding: 0px
}

.list-group-item p {
  font-size: 16px;
  margin: 0px;
  padding: 0px;
}

.font-italic p {
  font-size: 10px;
}

.flex-wrap-reverse {
  font-size: 10px;
}

#senator {
  font-size: 10px;
  width: 150px;
  margin: 0px;
  padding: 0px;
}

.navBar {
  width: 100%;
  border: 1px solid black;
  height: 10%;
  background-color: coral;
}

.otherDistricts {
  flex-grow: 3; 
  border: 1px solid black;
  height: 50%;
  align-items: stretch;
}

.profile {
  flex-grow: 1; 
  border: 2px solid black;
  height: 20%;
  align-items: stretch;
}

.rightSideBar {
  /* flex-grow: 3;  */
  width: 30%;
  border: 2px solid black;
  height: 100%;
  align-items: stretch;
  background-color: darkcyan;
  overflow: auto;
}

.wrapper {
  background: pink;
  height: 90%;
  display: flex;
  /* flex-flow: row wrap; */
  /* justify-content: space-around; */
  align-items: stretch;
  /* overflow: auto; */
}
