.App {
  text-align: center;
  height: 100%;
}

html {
  height: 100%;
}

#root {
  height: 100%;
}

body {
  height: 100%;
}

.btn-container {
  float: right;
}

@media (max-width: 767px) {
  .btn-container {
    margin-bottom: 15px;
  }
}

.center {
  width: 60%;
  height: 100%;
  background-color: rgb(221, 220, 220);
}

.centerBody {
  height: 78%;
  align-items: stretch;
  overflow: auto;
}

.centerLinks {
  border-bottom: 1px solid black;
  height: auto;
  align-items: stretch;
  background-color: rgb(221, 220, 220);
}

.districtContainer {
border: 1px solid black;
width: 60%;
height: 30%;
margin-left: 21px;
padding-left: 15px;
padding: 5px;
}

.districts {
  width: 60%; 
  flex-grow: 1; 
  border: 1px solid black;
  height: 30%;
  align-items: stretch;
  padding: 0px;
  margin: 0px;
}

.twit {
  position: relative;
  margin-top: 8px;
  /* Adjust these values accordingly */
  /* bottom: 15px; */
  /* left: 0px; */
}

.font-italic p {
  font-size: 10px;
}

.flex-wrap-reverse {
  font-size: 10px;
  /* border: 1px solid rgba(0,0,0,.125); */
}

.leftSideBar {
  width: 18%;
  border-right: 1px solid black;
  height: 100%;
  align-items: stretch;
  margin: 0px;
  padding: 0px;
  overflow: auto;
}

.list-group-item  {
  font-size: 16px;
  margin-left: 20px; 
  padding: 10px;
  width: 100%;
}

.message-group-item {
  font-size: 16px;
  width: 100%;
  position: relative;
  display: inline-block;
  flex-flow: row wrap;
  -webkit-box-align: center;
  align-items: center;
  padding: .75rem 1.25rem .05rem;
  margin-bottom: -1px;
  background-color: #fff;
  border: 1px solid rgba(0,0,0,.125);
  
}
.author{
  display: inline-block;
  position: relative;
  float: left;
  font-size: 16px;
  width: 20%;
  flex-flow: row wrap;
  text-align: left;
  /* padding: .75rem 1.25rem; */
  background-color: #fff;
  /* border: 1px solid rgba(0,0,0,.125); */
}
.date{
  display: inline-block;
  position: relative;
  float: right;
  font-size: 16px;
  width: 80%;
  margin-bottom: -1px;
  background-color: #fff;
  text-align: right;
  /* border: 1px solid rgba(0,0,0,.125); */
}
.message{
  padding-top: 15px;
  padding-bottom: 0;
  font-size: 20px;
  width: 100%;
  position: relative;
  display: block;
  flex-flow: row wrap;
  -webkit-box-align: left;
  align-items: left;
  float: left;
  text-align: left;
  line-height: 2.5;
  margin-top: 20px;

  /* padding: .75rem 1.25rem; */

  background-color: #fff;
  /* border: 1px solid rgba(0,0,0,.125); */
  /* border: 1px solid rgba(0,0,0,.125); */
}





.navBar {
  width: 100%;
  border-bottom: 1px solid black;
  height: 10%;
  background-color: blue;
  overflow: auto;
}

.navBar a {

  color:goldenrod;
}

.otherDistricts {
  flex-grow: 3; 
  border: 1px solid black;
  height: 50%;
  align-items: stretch;
}

.profile {
  flex-grow: 1; 
  border-bottom: 1px solid black;
  height: 20%;
  align-items: stretch;
  overflow: auto;
}

.rightSideBar {
  /* flex-grow: 3;  */
  width: 22%;
  border-left: 1px solid black;
  height: 100%;
  align-items: stretch;
  background-color: rgb(221, 220, 220);
  overflow: auto;
  border-radius: 0px;
}

#senator {
  font-size: 10px;
  width: 150px;
  margin: 0px;
  padding: 0px;
}


#state_selector {
  width: 80%;
}

.wrapper {
  background: rgb(221, 220, 220);
  height: 90%;
  display: flex;
  align-items: stretch;
}

.badge{
  padding: 5px;
  margin: 7px;
}

.postform-form-control {
  width: 75%;
  margin: 16px;
}

#postButton {
  background-color: lightgreen;
  margin-left: 16px;
  margin-bottom: 10px;
}

.currentState {
  margin-left: 2.5rem;
}

.miniProfile {
  box-sizing: border-box;
  height: 100px;

  padding: 1rem;
  border-bottom: 1px black solid;
}

.miniProfile_button {
  font-size: 0.75rem;
  padding: 0.25rem 0.5rem;
  margin-left: 0.25rem;
}