.App {
  text-align: center;
}
/* 
.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
} */


html{
  height: 100%;
}
#root{
  height: 100%;
}
.App{
  height: 100%;
}

/* .content-layout {  
  display: flex; 
  align-items: stretch;
  height: 100%;
} */

/* .left-sideBar{
  flex-grow: 1; 
  border: 1px solid black;
  height: 100%;
} */

/* .center-content{
  flex-grow: 2; 
  border: 1px solid black;
  height: 100%;
} */

/* .right-sideBar{
  flex-grow: 1; 
  border: 1px solid black;
  height: 100%;
} */