
html{
  height: 100%;
}
#root{
  height: 100%;
}
.App{
  height: 100%;
}

.content-layout {
  
  display: flex; 
  align-items: stretch;
  height: 100%;
}
.left-sideBar{
  flex-grow: 1; 
  border: 1px solid black;
  height: 100%;
}
.center-content{
  flex-grow: 2; 
  border: 1px solid black;
  height: 100%;
}
.right-sideBar{
  flex-grow: 1; 
  border: 1px solid black;
  height: 100%;
} */